empty
flask
flask-testing
{%- if cookiecutter.use_security == 'yes' %}
flask-security
{%- endif -%}
{%- if cookiecutter.use_async_tasks == 'yes' %}
flask-rq2
{%- endif -%}
{%- if cookiecutter.use_admin == 'yes' %}
flask-admin
{%- endif -%}
{%- if cookiecutter.use_sql == 'yes' %}
flask-sqlalchemy
flask-migrate
{%- endif -%}
{%- if cookiecutter.use_nosql == 'yes' %}
flask-mongoengine
{%- endif -%}
{%- if cookiecutter.use_http_mixin == 'yes' %}
flask-wtf
{%- endif -%}
{%- if cookiecutter.use_rest == 'yes' %}
marshmallow
flask-marshmallow
flask-jsglue
{%- endif -%}
{%- if cookiecutter.use_socketio == 'yes' %}
eventlet
flask-socketio
{%- endif -%}
{%- if cookiecutter.use_sql == 'yes' and cookiecutter.use_rest == 'yes' %}
marshmallow-sqlalchemy
{%- endif %}
flask-debugtoolbar
