{% extends "index.html" %}
{% from "macros/_formhelpers.html" import render_field %}

{% block styles %}
    <style type="text/css">
    ul{ list-style: none; }
    label{ font-weight: bold; }
    </style>
{% endblock %}

{% block content %}
    <form method="post">{{ form.csrf_token }}
        <ul>
            <li>
                {{ render_field(form.title) }}
            </li>
            <li>
                {{ render_field(form.text) }}
            </li>
        </ul>
        <input class="button tiny" type="submit" value="Save" />
    </form>
{% endblock %}