<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>blog_example</title>


    <!-- CSS IMPORTS
    <link rel="stylesheet" type="text/css" href="" />
    -->
    {% block styles %}{% endblock %}
</head>
<body>

    {% block content %}
    {% endblock %}

    <!-- JS IMPORTS
    <script type="application/javascript" src=""></script>
    -->
    {% block scripts %}{% endblock %}
</body>
</html>

